name: Kernel Config - A15 6.6

permissions:
  contents: write # Allow writing to repository contents
  actions: write # Allows triggering actions

on:
  workflow_call:
    inputs:
      ksu_variant:
        required: true
        type: string
      ksu_commit:
        required: false
        type: string
      build_bypass:
        required: true
        type: boolean

jobs:
  build-kernels-a15:
    name: "6.6.${{ matrix.sub_level }}-${{ matrix.os_patch_level }}"
    strategy:
      fail-fast: false
      matrix:
        include:
        - sub_level: "30"
          os_patch_level: "2024-07"
        - sub_level: "30"
          os_patch_level: "2024-08"
        - sub_level: "46"
          os_patch_level: "2024-09"
        - sub_level: "50"
          os_patch_level: "2024-10"
        - sub_level: "56"
          os_patch_level: "2024-11"
        - sub_level: "57"
          os_patch_level: "2024-12"
        - sub_level: "58"
          os_patch_level: "2025-01"
        - sub_level: "66"
          os_patch_level: "2025-02"
        - sub_level: "77"
          os_patch_level: "2025-03"
        - sub_level: "82"
          os_patch_level: "2025-04"
        - sub_level: "87"
          os_patch_level: "2025-05"
        - sub_level: "89"
          os_patch_level: "2025-06"
        - sub_level: "92"
          os_patch_level: "2025-07"
        - sub_level: "98"
          os_patch_level: "2025-08"
        - sub_level: "98"
          os_patch_level: "2025-09"
        - sub_level: "102"
          os_patch_level: "2025-10"
        - sub_level: "118"
          os_patch_level: "2026-01"
        - sub_level: "X"
          os_patch_level: "lts"
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      android_version: "android15"
      kernel_version: "6.6"
      sub_level: ${{ matrix.sub_level }}
      os_patch_level: ${{ matrix.os_patch_level }}
      ksu_variant: ${{ inputs.ksu_variant }}
      ksu_commit: ${{ inputs.ksu_commit }}
      build_bypass: ${{ inputs.build_bypass }}
